<div class="panel panel-default">
  <div class="panel-body">
    <strong><h4><%= comment.title %></h4>  Commented by: <%= comment.author_name %> <br> </strong>
    <strong> <%= comment.created_at.strftime("Commented at: %m/%d/%Y") %> </strong>
  </div>
</div>
